.root {
    display: flex;
    justify-content: space-around;
    font-family: Consolas;
}

.plot {
    width: fit-content;
    height: fit-content;
    align-self: center;
}

.input-output {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0;
}

.input-x0, .input-y0 {
    margin: 10px 0;
    padding-left: 8px;
    border-radius: 8px;
    font-family: Consolas;
    transition-duration: 0.4s;
}

.input-x0:focus, .input-y0:focus {
    outline: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.37);
    transform: scale(1.05);
}

.init-calculating-button {
    font-family: Consolas;
    border-radius: 8px;
    margin: 10px 0 0 25px;
    width: 166px;
    height: 30px;
    transition-duration: 0.4s;
}

.init-calculating-button:hover {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.37);
    transform: scale(1.2);
    cursor: pointer;
}

.init-calculating-button:focus {
    outline: none;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0 0 0;
}

.output__elem {
    min-height: 60px;
}

.output__elem ._large-font {
    font-size: large;
}

.output__elem ._bold-font {
    font-weight: bold;
}
